<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lesson Update Notice</h1>
    <p>Original Lesson:</p>
    <ul>
      <li>Requester: <%= @original_lesson.requester.name %></li>
      <li>Total students: <%= @lesson.student_count %></li>
      <li>Date: <%= @lesson.date %></li>
      <li>Slot: <%= @lesson.slot %></li>
      <li>Duration: <%= "#{@lesson.duration} hours" if @lesson.duration %></li>
      <li>Start Time: <%= @lesson.start_time %></li>
      <li>Location: <%= @lesson.location %></li>
      <li>Gear: <%= @lesson.gear? ? 'Yes' : 'No' %></li>
      <li>Objectives: <%= @lesson.objectives %></li>
    </ul>
    <p>Changes:</p>
    <ul>
      <% @changed_attributes.each do |attribute, change| %>
        <li><%= attribute.titleize %>: <%= change.kind_of?(Array) ? change[1] : change %></li>
      <% end %>
    </ul>
    <p>
      Please go to the lesson page below and take an action.
      If this still works for you, click the 'Confirm Updates'
      button to reconfirm your lesson. If you are no longer able
      to take this lesson, click the 'Drop It' button so we can 
      reassign the lesson to another instructor.
    </p>
    <p>
      <%= lesson_url(@updated_lesson) %>
    </p>
  </body>
</html>