<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lesson Completion Notice</h1>
    <p>
      Thank you for completing a lesson with Snow Schoolers!
      Here are the lesson details, for your reference:
    </p>
    <ul>
      <li>Instructor: <%= @lesson.instructor.name %></li>
      <li>Students: <%= @lesson.students.map(&:name).join(', ') %></li>
      <li>Date: <%= @lesson.date %></li>
      <li>Slot: <%= @lesson.slot %></li>
      <li>Duration: <%= "#{@lesson.duration} hours" if @lesson.duration %></li>
      <li>Start Time: <%= @lesson.start_time %></li>
      <li>Location: <%= @lesson.location %></li>
      <li>Gear: <%= @lesson.gear? ? 'Yes' : 'No' %></li>
      <li>Objectives: <%= @lesson.objectives %></li>
      <li>Actual Start Time: <%= @lesson.actual_start_time %></li>
      <li>Actual End Time: <%= @lesson.actual_end_time %></li>
      <li>Actual Duration: <%= "#{@lesson.actual_duration} hours" %></li>
    </ul>
    <p>
      <%= lesson_url(@lesson) %>
    </p>
  </body>
</html>