<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lesson Request Confirmed</h1>
    <ul>
      <li>Instructor: <%= @lesson.instructor.name %></li>
      <li>Total students: <%= @lesson.student_count %></li>
      <li>Date: <%= @lesson.date %></li>
      <li>Slot: <%= @lesson.slot %></li>
      <li>Duration: <%= "#{@lesson.duration} hours" if @lesson.duration %></li>
      <li>Start Time: <%= @lesson.start_time %></li>
      <li>Location: <%= @lesson.location %></li>
      <li>Gear: <%= @lesson.gear? ? 'Yes' : 'No' %></li>
      <li>Objectives: <%= @lesson.objectives %></li>
    </ul>
    <p>
      <%= lesson_url(@lesson) %>
    </p>
  </body>
</html>