<p>Date: <%= @lesson.date %></p>
<p>Slot: <%= @lesson.slot %></p>
<p>Duration: <%= "#{@lesson.duration} hours" if @lesson.duration %></p>
<p>Start Time: <%= @lesson.start_time %></p>
<p>Location: <%= @lesson.location %></p>
<p>Requester: <%= @lesson.requester.name %></p>
<p>Total students: <%= @lesson.student_count %></p>
<p>Gear: <%= @lesson.gear? ? 'Yes' : 'No' %></p>
<p>Experience level: <%= @lesson.experience_level.to_s %></p>
<p>Objectives: <%= @lesson.objectives %></p>

<% if @lesson.instructor %>
  <p>Instructor: <%= @lesson.instructor.name %></p>
<% else %>
  <% if @lesson.pending_requester? %>
    <p>No instructors available for this date and time. Please edit or cancel.</p>
  <% else %>
    <p>No instructor assigned yet.</p>
  <% end %>
<% end %>