<p>Date: <%= @lesson_time.date %></p>
<p>Slot: <%= @lesson_time.slot %></p>
<p>Student: <%= @lesson.student.name %></p>

<% if @lesson.instructor.nil? %>
  <% if current_user && current_user.instructor? %>
    <%= button_to "Take It", set_instructor_path, method: :put %>
  <% else %>
    <p>No instructor assigned yet.</p>
  <% end %>
<% else %>
  <p>Instructor: <%= @lesson.instructor.name %></p>
<% end %>