<p>Date: <%= @lesson.date %></p>
<p>Slot: <%= @lesson.slot %></p>
<p>Location: <%= @lesson.location %></p>
<p>Requester: <%= @lesson.student.name %></p>
<p>Total students: <%= @lesson.student_count %></p>
<p>Gear: <%= @lesson.gear? ? 'Yes' : 'No' %></p>
<p>Objectives: <%= @lesson.objectives %></p>

<% if @lesson.instructor.nil? %>
  <p>No instructor assigned yet.</p>
<% else %>
  <p>Instructor: <%= @lesson.instructor.name %></p>
<% end %>

<% if current_user && current_user.instructor? %>
  <% if @lesson.instructor.nil? %>
    <%= button_to "Take It", set_instructor_path, method: :put %>
  <% else %>
    <% if @lesson.pending_instructor? %>
      <%= button_to "Confirm Updates", set_instructor_path, method: :put %>
    <% end %>
    <%= button_to "Drop It", remove_instructor_path, method: :put %>
  <% end %>
<% end %>

<% if @lesson.active? %>
  <% if current_user && current_user == @lesson.student %>
    <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %>
    <%= link_to 'Cancel Lesson', @lesson, method: :delete %>
  <% end %>
<% else %>
  <p>Lesson has been canceled.</p>
<% end %>
