<p>Date: <%= @lesson.date %></p>
<p>Slot: <%= @lesson.slot %></p>
<p>Location: <%= @lesson.location %></p>
<p>Requester: <%= @lesson.student.name %></p>
<p>Total students: <%= @lesson.student_count %></p>
<p>Gear: <%= @lesson.gear? ? 'Yes' : 'No' %></p>
<p>Objectives: <%= @lesson.objectives %></p>

<% if @lesson.instructor.nil? %>
  <% if current_user && current_user.instructor? %>
    <%= button_to "Take It", set_instructor_path, method: :put %>
  <% else %>
    <p>No instructor assigned yet.</p>
  <% end %>
<% else %>
  <p>Instructor: <%= @lesson.instructor.name %></p>
  <% if current_user == @lesson.instructor %>
    <%= button_to "Drop It", remove_instructor_path, method: :put %>
  <% end %>
<% end %>

<% if current_user && current_user == @lesson.student %>
  <%= link_to 'Edit Lesson', edit_lesson_path(@lesson) %>
  <%= link_to 'Cancel Lesson', @lesson, method: :delete %>
<% end %>