<!DOCTYPE html>
<html>
<head>
  <title>SnowSchoolers</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'Home', root_path %>
  <% if current_user %>
    <%= current_user.name %>
    <%= link_to 'Log Out', destroy_user_session_path %>
  <% else %>
    <% if params[:date] && params[:slot] %>
      <%= link_to 'Sign Up', new_user_registration_path(date: params[:date], slot: params[:slot]) %>
      <%= link_to 'Log In', new_user_session_path(date: params[:date], slot: params[:slot]) %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <%= link_to 'Log In', new_user_session_path %>
    <% end %>
  <% end %>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
